/* Custom styling */
.content {
    width: 750px;
    margin: 0 auto;
}

.field-validation-error {
    font-size: 90%;
    color: #FF0000;
}

th {
    text-align: left;
    padding: 2px 10px;
}

td {
    padding: 0 10px;
}