/* Custom styling */
header {
    background-color: #1E1E1E;
    color: #FFFFFF;
    padding: 3px 0;
}

footer {
    margin-top: 20px;
    font-size: 80%;
}

h1.logo {
    float: left;
    margin: 0;
    padding: 0;
}

ul.nav {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
}

    ul.nav li {
        float: right;
        margin: 0 0 0 10px;       
        padding: 10px 0 0; 
        vertical-align: middle;
    }

        ul.nav li.last {
            margin-left: 0;
        }

        ul.nav li button {
            border: none;
            background-color: transparent;
        }

        ul.nav li button:hover {
            border: none;
            background-color: transparent;
            text-decoration: underline;
        }

.content {
    width: 750px;
    margin: 0 auto;
}

.field-validation-error {
    font-size: 90%;
    color: #FF0000;
}

th {
    text-align: left;
    padding: 2px 10px;
}

td {
    padding: 0 10px;
}